body {
	background-color: black;
	color: white;
	font-size: 2vh;
}
body header nav {
	max-width: 50vw;
	margin: 0 auto;
}
body header nav ul {
	list-style-type: none;
	display: flex;
	flex-direction: row;/*column*/
	flex-wrap: wrap;
	margin: 0 auto;
	padding: 0 0 0 0;
}
body header nav ul li button {
	border-radius: 1vw;
	margin: auto auto auto auto;
	padding: 0 0 0 0;
}
body header nav ul li {
	margin: auto auto auto auto;
	padding: 0 0 0 0;
}
body header nav ul li button a {
	font-size: 2vh;
	margin: auto auto auto auto;
	padding: 0 0 0 0;
}
button:has(img) {
	background: none;
	border: none;
}
button img {
	border-radius: 5vw;
}
.borderWhite {
	border-style: solid;
	border-color: white;
	border-width: 5px;
}
.moveAbleCSS {
	position: relative;
	cursor: pointer;
	position: fixed;
}
