body {
	background-color: black;
	color: white;
	font-size: 1rem;
}
body header nav ul {
	list-style-type: none;
	display: flex;
	flex-direction: row;/*column*/
}
body header nav ul li button {
	border-radius: 50px;
	max-width: 100%;
	max-height: 100%;
}
body header nav ul li {
	margin: 0 auto;
}
body header nav ul li button a {
	/*font-size: 3rem;*/
}
.borderWhite {
	border-style: solid;
	border-color: white;
	border-width: 5px;
}
.moveAbleCSS {
	position: relative;
	cursor: pointer;
	position: fixed;
}
